.Output{
    text-align: center;
}
.whole-thing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.style{
    margin-right: 20px;
}
mat-form-field.mat-form-field {
    margin-top:20px;
    margin-bottom: 20px;
  }